.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas { 
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    min-height: 600px;
    width: 600px;
    /* padding: 0;
    margin: 0; */
}

.canvas__row {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.canvas__square {
    /* background-color: rgb(167, 119, 119); */
}
